<!-- -------------------------------------------------- -->
<!-- title -->
<!-- -------------------------------------------------- -->
<h3>{{ header.title }}</h3>
<!-- -------------------------------------------------- -->
<!-- collab type (e.g. individual, group, etc) -->
<!-- -------------------------------------------------- -->
<h4>{{ header.collab_type }}</h4>
<!-- -------------------------------------------------- -->
<!-- project status -->
<!-- -------------------------------------------------- -->
<h4>
    <span style="font-weight:normal">Status:</span> {{ header.status }}
</h4>
<!-- -------------------------------------------------- -->
<!-- optional brief project description -->
<!-- -------------------------------------------------- -->
{% match header.desc %}
{% when Some with (desc) %}
<p>{{ desc }}</p>
{% when None %}
{% endmatch %}
<!-- -------------------------------------------------- -->
<!-- optional date / date range -->
<!-- -------------------------------------------------- -->
{% match header.date %}
{% when Some with (date) %}
<b><p>{{ date }}</p></b>
{% when None %}
{% endmatch %}
<!-- -------------------------------------------------- -->
<!-- optional location -->
<!-- -------------------------------------------------- -->
{% match header.location %}
{% when Some with (location) %}
<i><p>{{ location }}</p></i>
{% when None %}
{% endmatch %}
<!-- -------------------------------------------------- -->
<!-- repos -->
<!-- -------------------------------------------------- -->
{% for repo in header.repos %}
{% if loop.first %} <p>Repositories</p> {% endif %}
<br>
— <a href="{{ repo }}">{{ crate::url_last!(repo) }}</a>
{% endfor %}
<!-- -------------------------------------------------- -->
<!-- horizontal line separator -->
<!-- -------------------------------------------------- -->
<hr>