<!doctype html>
<html>
    <!-- -------------------------------------------------- -->
    <!-- include header -->
    <!-- -------------------------------------------------- -->
    <head>
        {% include "general/header.html" %}
    </head>
    <!-- -------------------------------------------------- -->
    <!-- include sidebar -->
    <!-- -------------------------------------------------- -->
    {% include "general/sidebar.html" %}
    <!-- -------------------------------------------------- -->
    <!-- div for body, beside the sidebar -->
    <!-- -------------------------------------------------- -->
    <div class="beside-sidebar">
        <!-- -------------------------------------------------- -->
        <!-- include navbar -->
        <!-- -------------------------------------------------- -->
        {% include "general/navbar.html" %}
        <!-- -------------------------------------------------- -->
        <!-- project -->
        <!-- -------------------------------------------------- -->
        <div class="project-body">
            <!-- -------------------------------------------------- -->
            <!-- project header -->
            <!-- -------------------------------------------------- -->
            {% include "projects/project-header.html" %}
            <!-- -------------------------------------------------- -->
            <!-- render differently based off source -->
            <!-- -------------------------------------------------- -->
            {% match srctype %} {% when SourceType::Html %}
            <!-- -------------------------------------------------- -->
            <!-- raw HTML contents -->
            <!-- -------------------------------------------------- -->
            {{ content|safe }}
            <!-- -------------------------------------------------- -->
            {% when SourceType::Markdown %}
            <!-- -------------------------------------------------- -->
            <!-- markdown contents -->
            <!-- -------------------------------------------------- -->
            <div class="md">
                {{ content|safe }}
            </div>
            {% endmatch %}
            <br />
        </div>
        <base target="_top" />
    </div>
    <!-- -------------------------------------------------- -->
    <!-- stylesheets -->
    <!-- -------------------------------------------------- -->
    <link rel="stylesheet" href="/css/base.css" />
</html>
