<!-- -------------------------------------------------- -->
<!-- child of: `general/sidebar.html` -->
<!-- note that crate::projects::ALL_PROJECTS is already sorted
    by category and chronologically -->
<!-- -------------------------------------------------- -->
{% for (category, projects) in crate::projects::ALL_PROJECTS.iter() %}
<li>
    <!-- -------------------------------------------------- -->
    <!-- type/category of project -->
    <!-- -------------------------------------------------- -->
    <h3><b>{{ category }}</b></h3>
    <!-- -------------------------------------------------- -->
    <!-- loop through each link, add it with delimiter -->
    <!-- -------------------------------------------------- -->
    {% for project in projects %}
    <!-- -------------------------------------------------- -->
    <!-- add the project link -->
    <!-- -------------------------------------------------- -->
    <li>
        <a href="{{ project.page.url }}" target="_parent">
            <i>{{ project.page.header.title }}</i>
        </a>
    </li>
    <!-- -------------------------------------------------- -->
    <!-- delimiter after every link, except the last -->
    <!-- -------------------------------------------------- -->
    {% if !loop.last %} <li>§</li> {% endif %}
    {% endfor %}
</li>
{% endfor %}