<!-- -------------------------------------------------- -->
<!-- child of: `general/sidebar.html` -->
<!-- -------------------------------------------------- -->
{% for (category, projects) in crate::projects::ALL_PROJECTS_HM.iter() %}
<li></li>
    <!-- -------------------------------------------------- -->
    <!-- type/category of project -->
    <!-- -------------------------------------------------- -->
    <h3><b>{{ category }}</b></h3>
    <!-- -------------------------------------------------- -->
    <!-- loop through each link, add it with delimiter -->
    <!-- -------------------------------------------------- -->
    {% for project in projects %}
    <!-- -------------------------------------------------- -->
    <!-- add the project link -->
    <!-- -------------------------------------------------- -->
    <li>
        <a href="{{ project.url }}" target="_parent">
            <i>{{ project.header.title }}</i>
        </a>
    </li>
    <!-- -------------------------------------------------- -->
    <!-- delimiter after every link, except the last -->
    <!-- -------------------------------------------------- -->
    {% if !loop.last %} <li>§</li> {% endif %}
    {% endfor %}
</li>
{% endfor %}