<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
{% include "general/sidebar.html" %}
<!-- -------------------------------------------------- -->
<!-- include navbar -->
<!-- -------------------------------------------------- -->
{% include "general/navbar.html" %}

<body>
<div class="main">
    <hr>
    <h1>PROJECTS</h1>
    <p>an archive of my academic, personal, and professional projects</p>
  
    <hr>
    <h2>academic</h2>
    <div id="academic">
    </div>
  
    <hr>
    <h2>personal</h2>
    <div id="personal"></div>
  
    <hr>
    <h2>professional</h2>
    <p>out of privacy and respect of all my previous employers, detailed descriptions of my professional work experience is not included. what can be publicly disclosed is already done so in my <a href="../../cv.pdf">curriculum vitae</a> under 'work history'</p>
  
    <br>
    <br>
  </div>
</body>
<base target="_top">

<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">
</html>
