<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
<head>{% include "general/sidebar.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- div for body, beside the sidebar -->
<!-- -------------------------------------------------- -->
<div class="beside_sidebar">
    <!-- -------------------------------------------------- -->
    <!-- project header -->
    <!-- -------------------------------------------------- -->
    {% include "projects/project-header.html" %}
    <!-- -------------------------------------------------- -->
    <!-- project body -->
    <!-- -------------------------------------------------- -->
    <body>
    {{ content|safe }}
    </body>
    <base target="_top">
</div>
<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">
</html>