<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
{% include "general/sidebar.html" %}
<!-- -------------------------------------------------- -->
<!-- div for body, beside the sidebar -->
<!-- -------------------------------------------------- -->
<div class="beside-sidebar">
    <!-- -------------------------------------------------- -->
    <!-- include navbar -->
    <!-- -------------------------------------------------- -->
    {% include "general/navbar.html" %}
    <!-- -------------------------------------------------- -->
    <!-- project -->
    <!-- -------------------------------------------------- -->
    <div class="project-body">
        <!-- -------------------------------------------------- -->
        <!-- project header -->
        <!-- -------------------------------------------------- -->
        {% include "projects/project-header.html" %}
        <!-- -------------------------------------------------- -->
        <!-- project contents -->
        <!-- -------------------------------------------------- -->
        {{ content|safe }}
    </div>
    <base target="_top">
</div>
<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">
</html>