# --------------------------------------------------
# production code - static website
# --------------------------------------------------
[submodule "prod"]
	path = deploy/prod
	url = git@github.com:arpadav/arpadav.github.io.git
# --------------------------------------------------
# external repos - for docs
# --------------------------------------------------
[submodule "external-repos/tinyklv"]
	path = external-repos/tinyklv
	url = git@github.com:arpadav/tinyklv.git
[submodule "external-repos/font-designer"]
	path = external-repos/font-designer
	url = git@github.com:arpadav/font-designer.git
[submodule "external-repos/tinyklv-0.1.2"]
	path = external-repos/tinyklv-0.1.2
	url = git@github.com:arpadav/tinyklv.git
	branch = v0.1.2-b
