h1,
h2,
h3,
h4,
p,
a,
li {
    font-family: "Times New Roman";
    color: #000090;
}

body {
    background-color: #ffe2db;
    overflow-x: hidden;
}

html,
body {
    height: 93%;
}

img {
    width: 100%;
    height: auto;
}

li>h3 {
    font-weight: normal;
    white-space: pre;
}

.sidebar {
    list-style-type: none;
    float: left;
    text-align: center;

    width: 290px;
}

.sidebar li {
    padding: 5px 0px;
}

.beside-sidebar {
    float: left;
    width: calc(100% - 290px - 2px);
}

.project-body {
    padding-left: 8px;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;

    margin: 0px;
    padding: 0px;
    margin-left: -10px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover:not(.active) {
    /* color: #755cab; */
    text-decoration: underline;
}

.card {
    position: relative;
    display: inline-block;

    display: flex;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.center_desc {
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    text-align: center;
}

.body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    /* // mobile safari try fix */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.main {
    float: left;
    clear: left;

    width: 100%;
}

.active {
    background-color: #f2d7d0;
}

.active .rotateimg90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.no-underline {
    text-decoration: none;
}

/* #MobileMenuDivWrapper { // trying to fix scroll on mobile
    height: 100%;
    width: 100%;
} */