<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
{% include "general/sidebar.html" %}
<!-- -------------------------------------------------- -->
<!-- div for body, beside the sidebar -->
<!-- -------------------------------------------------- -->
<div class="beside-sidebar">
    <!-- -------------------------------------------------- -->
    <!-- include navbar -->
    <!-- -------------------------------------------------- -->
    {% include "general/navbar.html" %}
    <!-- -------------------------------------------------- -->
    <!-- markdown content -->
    <!-- -------------------------------------------------- -->
    <div id="markdown-content">
    {{ content|safe }}
    </div>
    <base target="_top">
</div>
<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">
</html>