<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
{% include "general/sidebar.html" %}
<!-- -------------------------------------------------- -->
<!-- include navbar -->
<!-- -------------------------------------------------- -->
{% include "general/navbar.html" %}
<!-- -------------------------------------------------- -->
<!-- markdown content -->
<!-- -------------------------------------------------- -->
<div id="markdown-content">
{{ content|safe }}
</div>
<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">
</html>