<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include navbar -->
<!-- -------------------------------------------------- -->
<div class="beside-sidebar">
    {% include "general/navbar.html" %}
</div>
<!-- -------------------------------------------------- -->
<!-- main contents -->
<!-- -------------------------------------------------- -->
<div class="main">
    <hr>
    <div style="text-align:center">
        <h1>what is this alligator ?</h1>
        <img style="max-width: 350px" src="/images/alligator.png" class="center" />
        <p>not everything has to have a reason. i just thought it looked cool, so i used it.</p>
        <p>i found it on <a href="https://www-zeuthen.desy.de/~kjansen/lattice/index.html">this page regarding lattice
                qcd (quantum chromodynamics)</a>, whatever that means</p>
        <p>turns out this image was the 1990 - 1999 logo for <a
                href="http://www.physics.adelaide.edu.au/cssm/lattice2012/logo.php">the international symposium on
                lattice field theory</a></p>
        <p>pretty cool logo, i dont know why they changed it. i hope they are okay with me using it :~]</p>
    </div>
</div>
</body>
<base target="_top">

<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">

</html>