<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
{% include "general/sidebar.html" %}
<!-- -------------------------------------------------- -->
<!-- include navbar -->
<!-- -------------------------------------------------- -->
<div class="beside-sidebar">
    {% include "general/navbar.html" %}
</div>
<!-- -------------------------------------------------- -->
<!-- main contents -->
<!-- -------------------------------------------------- -->
<div class="main">
    <hr>
    <h1>Visual language tool (alpha — 12.14.2021) яблоко 苹果 تفاح</h1>
    <p>яблоко 苹果 تفاح</p>

    <hr>
    <h2>This project is being developed offline in the time being. When significant progress has been made, this page
        will be updated.</h2>
    <ul>
        <ul>
            <li>A language learning tool to help learn vocabulary. Less grammar focused; as all grammar interpretted
                using Google Translate API. Visual, to where there is no base 'reference' language.</li>
            <li>The idea is to roughly simulate immersion, with text, speech, and imagery.</li>
            <li>Procederally generated through database of word set w.r.t. some topic.</li>
        </ul>
    </ul>
</div>
<base target="_top">

<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">

</html>