<!DOCTYPE html>
<html>
<!-- -------------------------------------------------- -->
<!-- include header -->
<!-- -------------------------------------------------- -->
<head>{% include "general/header.html" %}</head>
<!-- -------------------------------------------------- -->
<!-- include sidebar -->
<!-- -------------------------------------------------- -->
{% include "general/sidebar.html" %}
<!-- -------------------------------------------------- -->
<!-- include navbar -->
<!-- -------------------------------------------------- -->
<div class="beside-sidebar">
    {% include "general/navbar.html" %}
</div>
<!-- -------------------------------------------------- -->
<!-- main contents -->
<!-- -------------------------------------------------- -->
<div class="main">
    <hr>
    <h1>NOTES</h1>
    <p>an archive of my personal notes as well as my school work</p>
    <hr>
    <!-- -------------------------------------------------- -->
    <!-- loop through first set of notes-->
    <!-- -------------------------------------------------- -->
    {% for (category, topicized_notes) in notes %}
    <!-- -------------------------------------------------- -->
    <!-- type/category of note -->
    <!-- -------------------------------------------------- -->
    <h2>{{ category }}</h2>
    <!-- -------------------------------------------------- -->
    <!-- loop through each link, add it with delimiter -->
    <!-- -------------------------------------------------- -->
    <ul>
        {% for (topic, notes) in topicized_notes %}
        <!-- -------------------------------------------------- -->
        <!-- add the note topic bullet -->
        <!-- -------------------------------------------------- -->
        <p>{{ topic }}</p>
        <ul>
            {% for note in notes %}
            <li>
                <a href="{{ note.url }}" target="_parent">{{ note.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    <!-- -------------------------------------------------- -->
    <!-- delimiter after every category, horz line -->
    <!-- -------------------------------------------------- -->
    {% if !loop.last %} <hr> {% endif %}
    {% endfor %}
</div>
<base target="_top">

<!-- -------------------------------------------------- -->
<!-- stylesheets -->
<!-- -------------------------------------------------- -->
<link rel="stylesheet" href="/css/std.css">

</html>