<img style="max-height: 300px" src="/images/me3.jpg" alt="Arpad Voros">
<img style="max-height: 300px" src="/images/me.jpg" alt="Arpad Voros">
<p>hey!</p>
<p>i am an AI/ML researcher, electrical + computer engineer, and software developer from North Carolina</p>
<p>i completed my <i>masters of science in electrical engineering</i> at North Carolina State
    University, with concentrations in <i>signal processing + computational intelligence</i></p>
<p>my well-versed interests include:</p>
<ul>
    <li> - deep learning + dl architecture</li>
    <li> - computer vision + image processing + dsp</li>
    <li> - information theory + communications</li>
    <li> - systems / embedded / functional programming</li>
</ul>
<p>other interests (of which i have limited experience with) include:</p>
<ul>
    <li> - computational finance</li>
    <li> - electroacoustic instrumentation + music theory</li>
    <li> - network security + cryptography</li>
    <li> - neuroscience + brain-computer interface</li>
    <li> - number theory + topology</li>
    <li> - foreign affairs</li>
</ul>
<p>in my freetime i enjoy working on <b><a href="/projects" style="display: inline;">projects</a></b>, learning new languages, reading, running, and traveling</p>
<p>a good example of a project is this website, but do check out my <b><a href="/files/cv.pdf" style="display: inline;">cv</a></b> for a full list of my experiences :~]</p>