<img style="max-height: 300px" src="/images/me4.jpg" alt="Arpad Voros" />
<p>hey!</p>
<p>
    i am an AI/ML researcher, electrical + computer engineer, and software
    developer from NC / Hungary
</p>
<p>currently building things...</p>
<p>
    i completed my masters of science in electrical engineering at North
    Carolina State University in 2021, with concentrations in signal
    processing + computational intelligence
</p>
<p>my core interests:</p>
<ul>
    <li>-&nbsp;<a style="display: inline" href="/projects#rust-crates"> rust!</a></li>
    <li>- systems / functional programming</li>
    <li>- entrepreneurship</li>
    <li>- deep learning + dl architecture</li>
    <li>- computer vision + image processing + dsp</li>
</ul>
<p>my well-versed interests include:</p>
<ul>
    <li>- embedded systems + operations research</li>
    <li>- autonomous systems + swarming</li>
    <li>- network security + cryptography</li>
    <li>- information theory + communications</li>
</ul>
<p>other topics with limited experience:</p>
<ul>
    <li>- computational finance</li>
    <li>- neuroscience + brain-computer interface</li>
    <li>- number theory + topology</li>
    <li>- foreign affairs</li>
    <li>- electroacoustic instrumentation + music theory</li>
</ul>
<p>
    in my freetime i enjoy working on
    <b><a href="/projects" style="display: inline">projects</a></b
    >, learning new languages, reading, running, and traveling
</p>
<p>
    a good example of a project is this website{% if !crate::cv::CV.hidden %}, but do
    <b><a href="/cv.pdf" style="display: inline">check out my cv</a></b> for a full list of
    my experiences{% endif %} :~]
</p>
