<img style="max-height: 300px" src="media/images/me2.jpg" alt="Arpad Voros">
<img style="max-height: 300px" src="media/images/me.jpg" alt="Arpad Voros">
<p>hey!</p>
<p>i am a software developer, electrical engineer, and AI/ML researcher from North Carolina</p>
<p>i completed my <strong>masters of science in electrical engineering</strong> at North Carolina State
    University, with concentrations in <strong>signal processing + computational intelligence</strong></p>
<p>my well-versed interests include:</p>
<ul>
    <li> - computer vision + image processing + dsp</li>
    <li> - information theory + communications</li>
    <li> - deep learning + dl architecture</li>
</ul>
<p>other interests (of which i have limited experience with) include:</p>
<ul>
    <li> - foreign affairs</li>
    <li> - electroacoustic instrumentation + music theory</li>
    <li> - network security + cryptography</li>
    <li> - neuroscience + brain-computer interface</li>
    <li> - computational finance</li>
    <li> - number theory + topology</li>
</ul>
<p>in my freetime i enjoy working on <a href="/projects" style="display: inline;">projects</a>, learning new languages, reading, running, and traveling</p>
<p>a good example of a project is this website, but do check out my <a href="/media/files/cv.pdf" style="display: inline;">cv</a> for a full list of my experiences :~]</p>
</div>